spring:
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/piems?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8
    username: root
    password: 1234
  redis:
    host: localhost
    port: 6379
    password: 
    database: 0
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 0
    timeout: 3000
    connect-timeout: 3000
    enabled: true
  security:
    user:
      name: user
      password: password
  
mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.piems.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

server:
  port: 9090
  servlet:
    context-path: /piems

springfox:
  documentation:
    swagger-ui:
      enabled: true
      path: /swagger-ui.html
    open-api:
      title: PIEMS API
      version: 1.0
      description: Personal Income and Expense Management System API